<div id="content" class="container-fluid">
    <div ng-controller="ScheduleController">
    <table class="friend">
      <tr>
        <th><a href="" ng-click="reverse=false;order('name', false)">Name</a>
          (<a href="" ng-click="order('-name',false)">^</a>)</th>
        <th><a href="" ng-click="reverse=!reverse;order('phone', reverse)">Phone Number</a></th>
      </tr>
      <tr ng-repeat="friend in friends">
        <td>{{friend.name}}</td>
        <td>{{friend.phone}}</td>
      </tr>
    </table>
    </div>
</div>
