<div id="content" class="container-fluid">
  <div class="row-fluid">

    <table class="table table-bordered table-square">
      <thead>
        <tr>
          <td>10:00am</td>
          <td>10:15am</td>
          <td>10:30am</td>
          <td>10:45am</td>
          <td>11:00am</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A</td>
          <td>A</td>
          <td>A</td>
          <td>A</td>
          <td>A</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
